.pill-button {
  display: flex;
  padding: 0 39.273px;
  height: 54.2727px;
  justify-content: center;
  align-items: center;
  gap: 8.182px;
  border-radius: 29.455px;
  background: var(--black-wax);
  color: var(--white);
  border: none;
}

.pill-button__text {
  color: #FFF;
  text-align: center;
  /* line-height: 1; */
  leading-trim: both;
  text-edge: cap;
  font-family: "ITC Avant Garde Gothic Pro";
  font-size: 19.636px;
  font-style: normal;
  font-weight: 700;
  /* 195.958% */
  letter-spacing: -0.578px;
  margin-top: 3px;
}