/* Good Neighbor Music - Form Styles */

.input {
  border: none;
  border-bottom: 2px solid var(--black-wax);
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  line-height: 150%;
  padding: 1rem 0;
  color: var(--black-wax);
  width: 100%;
}

.input::placeholder {
  color: rgba(20, 20, 18, 0.5);
}

.input:focus {
  border-color: var(--black-wax);
  outline: none;
}

.textarea {
  border: 2px solid var(--black-wax);
  background-color: transparent;
  border-radius: 0.8rem;
  min-height: 14rem;
  font-size: 2rem;
  line-height: 150%;
  padding: 1rem;
  resize: vertical;
  width: 100%;
}